.footer {
  background: #071229;
  color: white;
  padding: 80px;
}

/* GRID */

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 60px;
}

/* BRAND */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.logoIcon {
  font-size: 50px;
}

.brand h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.brand p {
  color: #94a3b8;
  line-height: 1.6;
  max-width: 260px;
}

.icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  font-size: 18px;
}

/* COLUMN */

.column h4 {
  margin-bottom: 18px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  color: #94a3b8;
  margin-bottom: 12px;
  cursor: pointer;
  display: block;
}

/* BOTTOM */

.bottom {
  max-width: 1200px;
  margin: 60px auto 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  color: #94a3b8;
  font-size: 14px;
}

.links {
  display: flex;
  gap: 20px;
}